* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}


@media (min-width: 992px){
    .col-lg-4, .titles{
        width: 33%;
        border: 1px solid black;
    }
    
    .col-lg-4{
        float: left;
    }
    .titles{
        background-color:blue;
        text-align:right;
        position: relative;
        left:auto;
    }
}